/* styles.css */

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #a5e9f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #54b8fc;
    color: #fff;
}
h2 {
    text-align: center;
}

.about, .process, .products, .contact {
    text-align: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.about {
    display: flex;
}

.about p{
    text-align: center;
}
.process p{
    text-align: center;
}
.products_img {
    display: flex;
    padding: 0;
    margin: 0;
}
.products_img_detail{
    text-align: center;
}
.detail_about h1{
    text-align: center;
}

.detail_about img{
    padding-left: 100px;
}


button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007acc;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{
    width: 900px;
    min-height: 200px;
    background-color: #ffffff;
    position: relative;
}

header.modal-header {
    background-color: #a5e9f5;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

i.ti-close {
    position: absolute;
    color: black;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
}

i.ti-close:hover{
    opacity: 1;
}

.modal-body{
    padding: 15px;
}

.modal-label{
    display: block;
    
}

.modal-input{
    border: 1px solid #ccc;
    width: 96%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 22px;
}